aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
chardet
discord.py
distro
exceptiongroup
ffmpeg-python
frozenlist
future
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
jiter
multidict
numpy
openai
pillow
propcache
psutil
pycparser
pydantic
pydantic_core
PyNaCl
python-dotenv
reportlab
sniffio
tqdm
typing_extensions
yarl