aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
chardet
discord.py
distro
exceptiongroup
frozenlist
h11
httpcore
httpx
idna
jiter
multidict
openai
pillow
propcache
pydantic
pydantic_core
python-dotenv
reportlab
sniffio
tqdm
typing_extensions
yarl